        * {
            /** 
            box-sizing: content-box;
            The border-box sizing model does the opposite of content-box. The total width of the element, including padding and border, will be the explicit width set. The content of the element will shrink to make room for the padding and border.
            */
            box-sizing: border-box;
        }
        
        body {
            margin: 0;
            font-family: sans-serif;
            background-color: #f5f6f7;
        }
        
        .header {
            text-transform: uppercase;
            align-items: center;
            padding: 35px;
            background: ;
        }
        
        .gallery img {
            width: 100%;
            max-width: 350px;
            height: 300px;
        }